.table {}

.icon {
    color: lightgray
}

.icon:hover {
    font-size: 12pt;
}

.bi bi-trash3:hover {
    font-size: 1em;
}

.output-section {
    color: rgb(170, 170, 170);


}

#monthly {
    color: orange;
}

.side {

    
    height: 100%;
}


.main-row{
    height: 80vh;
   
}

.main{
  
}